@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* typography */
h1 {
  font-family: "Chonburi", cursive;
}

h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* body general style */

main {
  margin: 15px;
}

body {
  background-color: #f2efe6;
}

/* nav bar */

li,
a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
}

.logo {
  cursor: pointer;
  margin-right: 5em;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.sociallink {
  padding-right: 1em;
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.socialig {
  zoom: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.links {
  margin-right: 5em;
}

/*bgvideo*/

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.plu {
  font-style: italic;
  font-size: 30px;
  margin-left: 40vw;
  margin-top: 30vh;
}
#maintext {
  font-size: 100px;
  align-items: center;
  margin-left: 40vw;
}

.area h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: bold;
  color: rgb(0, 0, 0);
  font-size: 60px;
}

.area h2 span {
  font-style: italic;
  color: white;
  font-weight: 100;
}

.fa-instagram-square {
  color: white;
}

.fa-linkedin {
  color: white;
}

button {
  color: black;
  text-emphasis-color: black;
  border: black solid 2px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Quicksand", sans-serif;
  left: 50%;
  top: 30%;
}
