@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* typography */
h1 {
  font-family: "Chonburi", cursive;
}

h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

/* body general style */

main {
  margin: 15px;
}

body {
  background-color: #f2efe6;
}

/* nav bar */

li,
a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: black solid 2px;
}

.logo {
  cursor: pointer;
  margin-right: 5em;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.sociallink {
  padding-right: 1em;
  zoom: 1.5;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.socialig {
  zoom: 0.7;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  background-image: url(instagram-1.svg);
  margin-right: 2em;
}

.socialfb {
  zoom: 0.7;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
  background-image: url(facebook.svg);
}

.links {
  margin-right: 5em;
}

/*footer*/
.footer-basic {
  padding: 20px 0;
  background-color: #f2efe6;
  border-top: black 3px solid;

  color: #4b4c4d;
  position: absolute;
  bottom: -15em;
  width: 100%;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.love {
  text-align: center;
}

footer {
  align-content: center;
}

/*bgvideo*/

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.plu {
  font-style: italic;
  font-size: 30px;
  margin-left: 40vw;
  margin-top: 30vh;
}
#maintext {
  font-size: 100px;
  align-items: center;
  margin-left: 40vw;
}

.area h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: bold;
  color: rgb(0, 0, 0);
  font-size: 60px;
}

.area h2 span {
  font-style: italic;
  color: white;
  font-weight: 100;
}

.fa-instagram-square {
  color: white;
}

.fa-linkedin {
  color: white;
}

button {
  color: black;
  text-emphasis-color: black;
  border: black solid 2px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Quicksand", sans-serif;
  left: 50%;
  top: 30%;
}
